p {
    text-align: right;
}
.freecodecamp {
}
rgb(red, green, blue);
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F
linear-gradient(gradientDirection, color1, color2, ...);
linear-gradient(90deg, red 90%, black);
rgba(redValue, greenValue, blueValue, alphaValue);
border-left: width style color;
box-shadow: offsetX offsetY color;
box-shadow: offsetX offsetY blurRadius color;
box-shadow: offsetX offsetY blurRadius spreadRadius color;
